{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Form</title>
    <link rel="stylesheet" href="{% static 'style.css' %}?v=7" />
  </head>
  <body>
    <div class="create-container">
      <h1>Add a Question</h1>
      <form method="POST" action="{% url 'load' %}">
        {% csrf_token %} {{ form.as_p }}
        <button id="save-data" type="submit">Save</button>
      </form>
    </div>
  </body>
</html>
